/*////////////////////////////////////
// FORM RECORD 
//BY GAAF CEO OF TECH
///////////////////////////////////*/

body{background: #dddddd; font-family: arial; }

#container{
    margin: 10px auto; padding: 10px; background: #fff;
}
#patientForm {
    height: 200px;
    width: 800px;
    border: 2px solid #dddddd;
    text-align: ;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}


table{
    width: 90%;
    padding-left: 300px;
    border: 1px solid red;
    border-collapse: collapse;
    background-color: #fff;}

th{
    background: #dddddd;
}

table, th, td {
  border: 2px solid #ccc;
    
}

/* Add some spacing and padding for readability */
th, td {
  padding: 15px;
  text-align: center;
}

/* Set a max-width for larger screens */
@media (min-width: 90%) {
  table {
    max-width: 90%;
  }
    
/* Make the table scroll horizontally on small screens */
@media (max-width: 768px) {
  table {
    width: 100%;
    overflow-x: auto;
  }

#static{
    padding: 200px;
    margin: 20px;
    width: 100px;
}
